body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:80%;
    margin:auto;
    background-color: rgb(105, 104, 98);
    
}
a{
    color: black;
}

.maincontent{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.card{
    border-style: solid;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    background-color: rgba(20, 50, 30, 1);
    text-align: center;
    
}
.intro{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.btn{

    color:whitesmoke;
    background-color: darkcyan;
    
}
.bottomtext{
    text-align: center;
}

.btn1{
    text-align: center;

}