.container{
    
    width: 500px;
    height: 500px;
    padding: 1%;
    margin-top: 5%;
    text-align: center;
    
}

.ptext{
    background-color: rgb(230, 230, 230);
    width: 170px;
    height: 40px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 32%;
    overflow: clip;
  
}

.btn1{

   background-color:rgb(230, 230, 230);
    width: 50px;
    height: 40px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-radius: 10px;
    margin: 2%;
    
}
.btn1:hover{
    background-color: rgb(203, 202, 202);
    transition-duration:0.5s;
}