.container{
    background-color: rgb(0, 255, 145);
    width: 500px;
    height: 500px;
    padding: 1%;
    margin: 2%;
    text-align: center;


}
.carousel{
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    
}
.ptext{
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    margin: 2%;
    text-align: center;
}

