.container{
    display: grid;
    grid-template-columns: 20% auto 10%;
    grid-template-rows: auto 40% 10%;
    grid-template-areas:
    "header header header"
    "main main sidebar"
    "main main sidebar";
    column-gap: 10px;
    row-gap: 10px;

}

.navigation{
    grid-area: header;
}
.map{
    grid-area: main;
    place-self: center;
    
    
}
.search{
    grid-area: sideabr;
    justify-self: center;
   
}

